# Data input and output

In [8]:
import pandas as pd
#reading csv file from computer
df=pd.read_csv('C:/Users/Owner/Downloads/salesperson.csv')

In [9]:
df

   salesperson_id   name  age  salary
0               1    Abe   61  140000
1               2    Bob   34   44000
2               5  Chris   34   40000
3               7    Dan   41   52000
4               8    Ken   57  115000
5              11    Joe   38   38000

In [10]:
#writing to csv file
df.to_csv('Name',index=False)

In [11]:
#reading excel file
df=pd.read_excel('C:/Users/Owner/Downloads/Tableau_prep/Average CPI Values.xlsx')

In [13]:
df.head(5)

   Year  Annual CPI Average
0  1913                 9.9
1  1914                10.0
2  1915                10.1
3  1916                10.9
4  1917                12.8

In [15]:
#writing to excel file
df.to_excel('Excel.xlsx',sheet_name='sheet1')

# Regex in python

 Regular expressions are used to identify whether a pattern exists in a given sequence of characters (string) or not. They help in manipulating textual data, which is often a pre-requisite for data science projects that involve text mining.

Identifiers:

\d = any number

\D = anything but a number

\s = space

\S = anything but a space

\w = any letter

\W = anything but a letter

. = any character, except for a new line

\b = space around whole words

. = period. must use backslash, because . normally means any character.

<b>Modifiers</b>:

{1,3} = for digits, u expect 1-3 counts of digits, or "places"

(+) = match 1 or more

? = match 0 or 1 repetitions.

(*) = match 0 or MORE repetitions

$ = matches at the end of string

^ = matches start of a string

| = matches either/or. Example x|y = will match either x or y

[] = range, or "variance"

{x} = expect to see this amount of the preceding code.

{x,y} = expect to see this x-y amounts of the precedng code

<b> White Space Charts:</b>

\n = new line

\s = space

\t = tab

\e = escape

\f = form feed

\r = carriage return

<b> Characters to REMEMBER TO ESCAPE IF USED! </b>

. + * ? [ ] $ ^ ( ) { } | \

<b> Brackets: </b>

[] = quant[ia]tative = will find either quantitative, or quantatative.

[a-z] = return any lowercase letter a-z

[1-5a-qA-Z] = return all numbers 1-5, lowercase letters a-q and uppercase A-Z

In [16]:
#importing regex library
import re

In [17]:
#regular expression for a mobile no.
num=re.compile(r'\d{3} \d{3}-\d{4}')

In [18]:
#searching a string with number
result = num.findall("My mobile number is 988 800-7272. Earlier it used to be 788 372-7278")
result

['988 800-7272', '788 372-7278']