# input / output files

In [25]:
%%writefile myfile.txt

hello, this is text file
this is second line
this is the third line # writing the file

Overwriting myfile.txt

In [14]:
myfile=open('myfile.txt') # opening a file

In [15]:
myfile.read() # reading a file

'\nhello, this is text file\nthis is second line\nthis is the third line # writing the file\n'

In [13]:
# resetting cursor
myfile.seek(0)

0

In [7]:
contents=myfile.read()

In [8]:
contents

'\nhello, this is text file\nthis is second line\nthis is the third line # writing the file\n'

In [17]:
myfile.seek(0)

0

In [18]:
# reading line by line in a file
myfile.readlines()

['\n',
 'hello, this is text file\n',
 'this is second line\n',
 'this is the third line # writing the file\n']

In [19]:
myfile.close() # closing the file

# writing in files

In [23]:
with open('myfile.txt',mode='r') as myfile:
    contents=myfile.read() # reading and opening file in a single line code

In [24]:
contents

'\nhello, this is text file\nthis is second line\nthis is the third line # writing the file\nthis is fourth line'

In [27]:
with open('myfile.txt', mode='a') as f:
    f.write('\n  this is fourth line') # appending a line

In [28]:
with open('myfile.txt', mode='r') as f:
    print(f.read())

hello, this is text file
this is second line
this is the third line # writing the file

  this is fourth line

# comparison operators

In [29]:
 3==3

True

In [30]:
3==1

False

In [31]:
'hello'=='bye'

False

In [33]:
'bye'=='bye'

True

In [34]:
3!=1

True

In [36]:
3!=3

False

In [37]:
2>=2

True

In [38]:
2<=1

False

# Logical operators

In [39]:
1<2 and 2>3

False

In [40]:
1<2 and 2<3 # both conditions needs to be true in and operator

True

In [41]:
1==1 or 2==2

True

In [43]:
1==1 or 2==3 # only one condition needs to be ture in or operators

True

In [44]:
400 >5000

False

In [45]:
not 400>5000 # returns opposite of actual ans

True