# list

In [1]:
my_string=[1,2,3] #list of numbers

In [2]:
my_string=["Mayank",23,23.85] #list of different data types

In [3]:
len(my_string)

3

# indexing in list

In [4]:
mylist=['one','two','three']

In [5]:
mylist[0]

'one'

In [6]:
mylist[1:]

['two', 'three']

In [7]:
alist=['four','five']

In [8]:
mylist=mylist+alist

In [9]:
mylist # concatenation in a list

['one', 'two', 'three', 'four', 'five']

In [10]:
mylist[0]= [1] # reassigning the instance

In [11]:
mylist

[[1], 'two', 'three', 'four', 'five']

In [12]:
mylist.append(6) # using append function to add element at enf of list

In [13]:
mylist

[[1], 'two', 'three', 'four', 'five', 6]

In [14]:
mylist.pop() # exclude the last element form list

6

In [15]:
mylist

[[1], 'two', 'three', 'four', 'five']

In [17]:
#poping element from specific list
mylist.pop(0)

[1]

In [18]:
mylist

['two', 'three', 'four', 'five']

In [19]:
alpha_list=['a','t','q','b']
num_list=[8,2,5,9]

In [20]:
#sorting of list
alpha_list.sort()

In [21]:
alpha_list

['a', 'b', 'q', 't']

In [22]:
num_list.sort()

In [23]:
num_list

[2, 5, 8, 9]

In [24]:
num_list.reverse()

In [25]:
num_list

[9, 8, 5, 2]

# dictonaries

In [26]:
my_dict={'first_name':'mayank','last_name':'Bansal'}

In [27]:
my_dict

{'first_name': 'mayank', 'last_name': 'Bansal'}

In [28]:
my_dict['first_name']

'mayank'

In [30]:
#list and dictonaries inside dictonary
d={'k1':123,'k2':[1,2,3],'k3':{'inside_dic':300}}

In [32]:
d['k3']['inside_dic']

300

In [33]:
d['k2'][2]

3

In [34]:
#adding new element in a dic
d['k3']=450

In [35]:
d

{'k1': 123, 'k2': [1, 2, 3], 'k3': 450}

In [36]:
#setting a key value pair to new value
d['k1']=576

In [37]:
d

{'k1': 576, 'k2': [1, 2, 3], 'k3': 450}

In [38]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [39]:
d.values()

dict_values([576, [1, 2, 3], 450])

In [40]:
d.items()

dict_items([('k1', 576), ('k2', [1, 2, 3]), ('k3', 450)])


# tuples

In [41]:
t=(1,2,3)

In [42]:
my_list=[1,2,3] #only diff between list and tuples are that tuples are immutable that they cannot be reassigned

In [43]:
type(t)

tuple

In [44]:
type(my_list)

list

In [45]:
len(t) #length of tupple

3

In [47]:
#indexing and slicing
t[0]

1

# tuple methods

In [48]:
g=['a','a','t']

In [50]:
g.count('a')

2

In [52]:
g.index('t')

2

# sets in python

In [53]:
myset=set()

In [54]:
myset

set()

In [55]:
myset.add(1)

In [56]:
myset

{1}

In [57]:
myset.add(2)

In [58]:
myset

{1, 2}

In [59]:
myset.add(2)

In [60]:
myset # it still 2 elments as its a collection of unordered unique elements only

{1, 2}